<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1 id="coName">FileBeBack</h1>
    <img id="main-logo" src="/icons/open-folder.png" alt="folder">
    <div id="btns">
        <button class="indexBtn"><a href="/sign-up">Sign Up</a></button>
        <button class="indexBtn"><a href="/log-in">Log In</a></button>
    </div>
</body>
</html>